flows.json
[
    {
        "id": "3db31ec2.d4e96a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e6ee7d9.a131",
        "type": "ui_form",
        "z": "3db31ec2.d4e96a",
        "name": "",
        "label": "",
        "group": "bb15c1b4.4c7f58",
        "order": 0,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Country",
                "value": "a",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "c",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult Mortality",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "infant deaths",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "percentage expenditure",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "under-five deaths",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 10-19 years",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 5-9 years",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income composition of resources",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "u",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": "",
            "u": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 68,
        "y": 364,
        "wires": [
            [
                "f1f1e95d.b7a708"
            ]
        ]
    },
    {
        "id": "f1f1e95d.b7a708",
        "type": "function",
        "z": "3db31ec2.d4e96a",
        "name": "pre-token",
        "func": "global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey=\"qH6RZVonoiwr1yaZfFZDOrkN9i834_yAro8QXxDlM0uu\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 191,
        "y": 252,
        "wires": [
            [
                "77a129f6.5b9f7"
            ]
        ]
    },
    {
        "id": "77a129f6.5b9f7",
        "type": "http request",
        "z": "3db31ec2.d4e96a",
        "name": "Get a token",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 189,
        "y": 499,
        "wires": [
            [
                "fe6aad6c.ce8e9"
            ]
        ]
    },
    {
        "id": "fe6aad6c.ce8e9",
        "type": "function",
        "z": "3db31ec2.d4e96a",
        "name": "Send to endpoint",
        "func": "var token=msg.payload.access_token;\nvar instance_id=\"80dd080e-a280-4e18-bbff-4571b59ff6be\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles\", \"BMI\",  \"under-five deaths\", \"Polio\", \"Total expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\", \"thinness 10-19 years\",  \"thinness 5-9 years\",  \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n       \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 364,
        "y": 363,
        "wires": [
            [
                "1c9be8b1.15c527"
            ]
        ]
    },
    {
        "id": "1c9be8b1.15c527",
        "type": "http request",
        "z": "3db31ec2.d4e96a",
        "name": "Get access",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/80dd080e-a280-4e18-bbff-4571b59ff6be/deployments/7cad6fb1-9633-4cf0-874f-239642c97fa7/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 463,
        "y": 147,
        "wires": [
            [
                "53d7e2e2.9eb56c"
            ]
        ]
    },
    {
        "id": "53d7e2e2.9eb56c",
        "type": "function",
        "z": "3db31ec2.d4e96a",
        "name": "Get From Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\n\n//msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 617,
        "y": 485,
        "wires": [
            [
                "63fad913.c7caf"
            ]
        ]
    },
    {
        "id": "63fad913.c7caf",
        "type": "ui_text",
        "z": "3db31ec2.d4e96a",
        "group": "bb15c1b4.4c7f58",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 721,
        "y": 275,
        "wires": []
    },
    {
        "id": "bb15c1b4.4c7f58",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "b313a4fb.fe673",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b313a4fb.fe673",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
